.handle{
  /*top: 300px !important;*/
  cursor: move;
  border: 1px solid black;
  border-radius:10px;
  width: 300px;
  height: 100px;
  background-Color: rgba(74,74,74, 0.7);
  /*margin-top: 300px;*/
}
.DragAct{
  display: none;

}
.DragDeac{
  display: block;
  top: 400px !important;
}
